[Unit]
Description=gunicorn daemon for Django
After=network.target

[Service]
User=your_user                # Replace with the system user running Django
Group=www-data
WorkingDirectory={{ django_app_dir }}
ExecStart={{ django_venv_dir }}/bin/gunicorn --workers 3 --bind unix:{{ django_app_dir }}/django.sock myapp.wsgi:application

[Install]
WantedBy=multi-user.target
