[Unit]
Description=gunicorn daemon for Django
After=network.target

[Service]
User= admin
Group= users
WorkingDirectory={{ django_app_dir }}/django
ExecStart={{ django_venv_dir }}/bin/gunicorn --workers 3 --bind unix:{{ django_app_dir }}/django.sock mysite.wsgi:application

[Install]
WantedBy=multi-user.target
