
server {
    listen 80;
    server_name {{ your_server_name }};  # Use the variable for the server name

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root {{ django_static_dir }};  # Pointing to the static directory
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;  # Adjust if using a different socket
    }
}
